[Desktop Entry]
Name=PocketSNES
Comment=SNES/SFC Emulator
Exec=pocketsnes.dge
Icon=pocketsnes
Categories=emulators;
X-OD-Manual=pocketsnes.man.txt
X-OD-Selector=/home/retrofw/roms/snes
X-OD-Filter=.zip,.sfc,.smc,.swc
Terminal=false
Type=Application
StartupNotify=true
